<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FeedBack Records</title>	
  </head>
  			<!-- Table -->  
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" type="text/css"  />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"  />
		<script>
			$(document).ready(function() {
				$('#example').DataTable( {
					"pagingType": "full_numbers"
				} );
			} );
		</script> 		






					<!-- Table -->   

  <body>
  </body>
</html>
